{config, pkgs, ...}:
{
  networking.hostName = "main";

  networking.wireless.enable = true;
  networking.wireless.userControlled = true;
  networking.wireless.networks.EE-86FXKW.psk = "password";

  networking.firewall.enable = true;
}
